body {
  background-color: #E8E8E8;
  font-family: 'Courier New', Courier, monospace
}

.App {
  text-align: left;
}

.App-header {
  background-color: #004d99;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  letter-spacing: 2px;
  margin-top: 0;
  padding-top: 25px;
}

.discussion-text {
  font-size: 1.5em;
  font-weight: bold;
}

.discussion-link {
  color: #191970;
  font-weight: bold;
  margin: 30px;
}

.discussion-link:hover {
  color: #6699ff;
}

.discussion-link-div {
  box-sizing: border-box;
  width: 25%;
  border-bottom: 1.5px solid black;
  position: relative;
  padding: 15px 0;
  margin: 0 auto;
}

.navbar {
  border-radius: 4px;
}

.all-discussions-title {
  margin-bottom: 50px;
}

.comment-form {
  margin-top: 50px;
}

.comments-list-header {
  margin-top: 50px;
  font-size: 1.5em;
  font-weight: bold;
}

.delete-comment {
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 8px;
}

.add-comment-header h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.about-page {
  font-size: 1.25em;
  font-weight: bold;
  box-sizing: border-box;
  width: 40%;
  margin: 40px auto;
}

.error-messages {
  color: red;
}



